vcenter_server       = "vcenter.domain.com"
vcenter_username     = "administrator@vsphere.local"
vcenter_password     = "password"
winrm_username       = "Administrator"
winrm_password       = "password"
local_admin_username = "Administrator"
local_admin_password = "password"

datacenter = "Datacenter"
cluster    = "Cluster"
network    = "VM Network"
datastore  = "vsanDatastore"
iso_path   = "ISO/SERVER_EVAL_x64FRE_en-us.iso"
product_key = "your_windows_license_key"